<!-- <html>
    <head>
        <title>VS Code Rocks!</title>
    </head>
    <body>
        <h1>VS Code can do that?</h1>
        <p>Yes it can!</p>
    </body>
</html> -->

<html>

<head>
    <title>VS Code Rocks!</title>
</head>

<body>
    <h1>Juego de Piedra, Papel o Tijeras</h1>
    <form action="/jugar" method="post">
        <label for="opcion_jugador">Elige una opción: piedra, papel o tijeras</label>
        <input type="text" name="opcion_jugador" id="opcion_jugador" required>
        <button type="submit">Jugar</button>
    </form>
</body>

</html>